/include/ "system-conf.dtsi"
/ {
	dma_proxy {
		compatible = "xlnx,dma_proxy";
		dmas = <&axi_dma_0 1
			&axi_dma_1 0>;
		dma-names = "dma_ltc_rx", "dma_max_tx";
	};
};

/* ETH PHY */
&gem0 {
    status = "okay";
    phy-mode = "rgmii-id";
    phy-handle = <&phy0>;
    
    mdio {
        phy0: phy@f {
            pinctrl-names = "default";
            phy-reset-gpio = <&gpio0 49 0>;
	    phy-reset-active-low;
	        
            device_type = "ethernet-phy";
            reg = <0x0F>;
            ti,rx-internal-delay = <0x8>; 
            ti,tx-internal-delay = <0xa>; 
            ti,fifo-depth = <0x01>;
            ti,dp83867-rxctrl-strap-quirk;
        };
    };
};

&amba {
	ptm@f889d000 {
		cpu = <&cpu0>;
	};
};
